body{
    margin: 0;
}

header{
    background-color: lightslategrey;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: -160px;
}

h1, h2{
    font-family: 'Ephesis', cursive;
}

h2, p, ol, ul{
    margin-left: 50px;
}

header h1{
    color: rgb(235, 196, 192);
    font-family: 'Ephesis', cursive;
    font-size: 60px;
    margin-top: 10px;
}

header img{
    border-radius: 20px;
    border-style: inset;
    border-color: rgb(235, 196, 192);
}
 
main{
    max-width: 800px;
    text-align: inherit;
}

main img{
    max-width: 120%;
}